


.Button{
    font-family: montserrat;
    background: none;
    padding: 1rem;
    border-radius: 2px;
    cursor: pointer;
}


.Btn-primary{

    background-color: var(--text);
    border: none;
    color: var(--background);
}


.Btn-nonStyle{
    border: none;
}


.Btn-danger{

    background-color: rgb(208, 37, 37);
    border: none;
    color: white;
}