

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{

    font-size: 14px;
    font-family: montserrat;

    --background: white;


    --text: black;
    --headers: ;


}


body{

    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.4s ease, color 0.4s ease;


}


h1, h2, h3 {
    color: var(--headers);
}





@font-face {
    font-family: cartoon;
    src: url(/public/fonts/cartoonCheck-black\.ttf);
}


@font-face {
    font-family: montserrat;
    src: url(/public/fonts/Montserrat-Medium.ttf);
}



@font-face {
    font-family: montserra-bold;
    src: url(/public/fonts/Montserrat-Bold.ttf);
}


@font-face {
    font-family: montserra-extrabold;
    src: url(/public/fonts/Montserrat-ExtraBold.ttf);
}





h1{
    font-family: cartoon;
}



